<div class="container">
    <div class="card">
        <div class="card-header">
          <h1><img src="https://www.flaticon.es/svg/static/icons/svg/2362/2362190.svg" width="100" height="100" class="d-inline-block align-top" alt="">Patient Rooms</h1>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Id Patient</th>
                        <th>Id Room</th>
                        <th>Date In</th>
                        <th>Date Out</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor= " let data of patientRooms ">
                    <td>{{data.idPatientRoom}}</td>
                    <td>{{data.idPatient}}</td>
                    <td>{{data.idRoom}}</td>
                    <td>{{data.dateIn}}</td>
                    <td>{{data.dateOut}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

