<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Medicine</h1>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Lab</th>
                        <th>Admin Way</th>
                        <th>Description</th>
                        <th>Expiration Date</th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor= " let data of medicines  ">
                    <td>{{data.idMedicine}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.lab}}</td>
                    <td>{{data.adminway}}</td>
                    <td>{{data.description}}</td>
                    <td>{{data.expirationdate}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

